/* Main body and Map css */
.cesiumBodyContainer {
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 25px;
}

#cesiumMapContainer {
    width: 100%;
    height: 75vh;
    padding-bottom: 10px;
}